---
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <br>
    <div class="container">
      	<div class="row">
	        <div class="col-md-2 hidden-xs hidden-sm">
	          	{% include sidebar.html %}
		       
	        </div>
	        <div class="col-md-10 col-xs-12" style = "z-index: 1">
	        	{% include topbar.html %}

	            {{ content }}
	        </div>
      	</div>
    </div>
</body>

</html>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>